<div class="body-inner">
    <div class="book-header" role="navigation" style="position:sticky;top:0;">
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {% if page.title %}
            <a href=".">{{ page.title | escape }}</a>
            {% else %}
            <a href=".">{{ site.title | escape }}</a>
            {% endif %}
        </h1>
    </div>
    <br>
    <br>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <div id="book-search-results">
                <div class="search-noresults">
                    <section class="normal markdown-section">

                        {% if page.title %}
                        <h1 id="{{ page.id }}">{{ page.title | escape }}</h1>
                        {% else %}
                        <h1 id="{{ site.id }}">{{ site.title | escape }}</h1>
                        {% endif %}

                        <p>
                            {% if page.layout == "blog" %}
                            By
                            <a href="{{ page.author_link }}" target="_blank">{{ page.author }}</a>
                            on {{ page.date | date_to_long_string }} .
                            {% endif %}
                            <a href="https://github.com/UR-DataScience/cpp-book/edit/master/{{ page.path }}" target="_blank">
                                Improve this page on Github
                                <i class="fa fa-github"></i>
                            </a>
                            <hr>
                        </p>

                        {{ content | markdownify }}

                    </section>
                </div>

                <br>
                <br>
                <hr>
                <br>
                <br>

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-iyecXfw9Mz_hUKY44DMik1p1S5mpvbuJsonbXn194N7CdA/viewform?embedded=true" width="640" height="720" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

                <!-- {%- include search.html -%} -->

            </div>
        </div>
    </div>
</div>
