<div class="book-summary">
    <!--
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search"/>
    </div>
    -->
    <nav role="navigation">
        <ul class="summary">

            <li>
                <a href="https://urdatascience.ca" target="blank" class="gitbook-link">
                    <img src="/cpp-book/assets/img/nav/data_science_logo.png"  alt="Data Science Laboratory - The hub of Data Science Research" > 
                </a>
            </li>
    
            <li class="divider"></li>

            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
                {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                {% endif %}
                <a href="{{site.baseurl}}">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>
            <li class="chapter" data-level="1.1">
                <a href="{{site.baseurl}}/blog">Blog</a>
            </li>S
            <li class="divider"></li>

            {% assign reversed_posts = site.posts | reverse %}

            {% for post in reversed_posts %}
            {% if page.url == post.url %}
            <li class="chapter active" data-level="2" data-path="{{site.baseurl}}{{post.url}}" style="font-weight:bold;">
                <a href="{{site.baseurl}}{{post.url}}">
                    {{ forloop.index }}. {{ post.title | escape }}
                </a>
            </li>
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                <a href="{{site.baseurl}}{{post.url}}">
                    {{ forloop.index }}. {{ post.title | escape }}
                </a>
            </li>
            {% endif %}
            {% endfor %}

            <li class="divider"></li>

           
            <li>
                <a href="https://github.com/ur-datascience/cpp-book/fork" target="blank" class="gitbook-link">
                    Fork and Help us to Improve this book
                </a>
            </li>

        </ul>
    </nav>
</div>